srsly
tqdm
faiss-cpu
spacy-transformers==1.4.0
mlx-lm
en_deberta_v3_base_ner_historical_location @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_historical_location/resolve/main/en_deberta_v3_base_ner_historical_location-1.0-py3-none-any.whl
