srsly
tqdm
numpy
faiss-cpu
transformers==4.51.0
torch==2.9.0
spacy[transformers]
en_deberta_v3_base_ner_historical_location @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_historical_location/resolve/main/en_deberta_v3_base_ner_historical_location-any-py3-none-any.whl
