srsly
tqdm
faiss-cpu
spacy
openai
numpy
rapidfuzz
lxml
glmocr[selfhosted]
opencv-python
en_deberta_v3_base_ner_historical_location @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_historical_place/resolve/main/en_deberta_v3_base_ner_historical_place-1.0-py3-none-any.whl
